.admin_poll{
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    padding: 100px;
    background-color: #7775e3;
    box-shadow: 0px 0px 5px 0px;
    border-radius: 15px;
    font-weight: 900;
}

.text_input{
    display: block;
    border-radius: 5px;
}

/* .form_btn{

} */